<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexandria.chan.com.hospital">

    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hospital Locator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9O7VfMmABZz6IWEEM7OI08Idfg328gAU" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Splash"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".EmTips" />
        <activity android:name=".SearchList" />
        <activity android:name=".Caloocan" />
        <activity android:name=".LasPinas" />
        <activity android:name=".Makati" />
        <activity android:name=".Malabon" />
        <activity android:name=".Manila" />
        <activity android:name=".Marikina" />
        <activity android:name=".Mandaluyong" />
        <activity android:name=".Muntinlupa" />
        <activity android:name=".Navotas" />
        <activity android:name=".Paranaque" />
        <activity android:name=".Pasay" />
        <activity android:name=".Pasig" />
        <activity android:name=".Pateros" />
        <activity android:name=".QuezonCity" />
        <activity android:name=".SanJuan" />
        <activity android:name=".Taguig" />
        <activity android:name=".Valenzuela" />
        <activity android:name=".Caloocan_hosp" />
        <activity android:name=".LasPinas_hosp" />
        <activity android:name=".Manila_hosp" />
        <activity android:name=".Navotas_hosp" />



    </application>

</manifest>